.Rproj.user
.Rhistory
.RData
dev
.httr-oauth
tests/testthat/yt_key
tests/testthat/token_file.rds
.DS_Store
/..Rcheck
/tubern.Rcheck
*.gz
client_secret_394229601724-jsvluedlnkausiaes3gds7fjp0m999id.apps.googleusercontent.com.json
tests/testthat/_problems/
.lycheecache
